html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
}
input {
  width: auto;
  border: solid 2px grey;
}
.selector {
  position: fixed;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  background-color: white;
  border: solid 4px red;
  padding: 10px;
  
}
